.container{
  position: relative;
  top: 1200px;
  left: 520px;
}

.container__img {
  position: absolute;
  top: 550px;
  left: 65px;
  height: 150px;
}

.container__img2 {
  position: absolute;
  top: 550px;
  left: 335px;
  height: 150px;
}

.container__img3 {
  position: absolute;
  top: 550px;
  left: 520px;
  height: 150px;
}

.container__img4 {
  position: absolute;
  top: 550px;
  left: 705px;
  height: 150px;
}

.container__black {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -9;
  top: 230px;
  left: 0px;
  opacity: 0.5;
}

.container__bg2 {
  position: absolute;
  height: 1000PX;
  left: -440px;
  top: 10px;
  max-width: 1800px;
}

.fieldset1 {
  position: static;
  top: 1000px;
}

/*@media (min-width: 475px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {


}

@media (min-width: 1920px) {
  .container{
    position: relative;
    top: 1400px;
    left: -290px;
  }
  
  .container__img {
    position: absolute;
    top: 450px;
    left: 565px;
    height: 150px;
  }
  
  .container__img2 {
    position: absolute;
    top: 450px;
    left: 835px;
    height: 150px;
  }
  
  .container__img3 {
    position: absolute;
    top: 450px;
    left: 1010px;
    height: 150px;
  }
  
  .container__img4 {
    position: absolute;
    top: 450px;
    left: 1150px;
    height: 150px;
  }
  
  .container__black {
    position: fixed;
    width: 1920px;
    height: 100%;
    background-color: black;
    z-index: -9;
    top: 230px;
    left: 0px;
    opacity: 0.5;
  }
  
  .container__bg2 {
    position: absolute;
    height: 800PX;
    left: 40px;
    top: 10px;
    width: 1800px;
  }
  
  .fieldset1 {
    position: static;
    top: 500px;
  }
}

@media (min-width: 2560px) {
  .container{
    position: relative;
    top: 1200px;
    left: -220px;
  }
  
  .container__img {
    position: absolute;
    top: 550px;
    left: 1165px;
    height: 150px;
  }
  
  .container__img2 {
    position: absolute;
    top: 550px;
    left: 1435px;
    height: 150px;
  }
  
  .container__img3 {
    position: absolute;
    top: 550px;
    left: 1610px;
    height: 150px;
  }
  
  .container__img4 {
    position: absolute;
    top: 550px;
    left: 1765px;
    height: 150px;
  }
  
  .container__black {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -9;
    top: 230px;
    left: 0px;
    opacity: 0.5;
  }
  
  .container__bg2 {
    position: absolute;
    height: 1000PX;
    left: 640px;
    top: 10px;
    max-width: 1800px;
  }
  
  .fieldset1 {
    position: static;
    top: 1000px;
  }
}*/