.contact {
  position: absolute;
  font: var(--size-xs) sans-serif;
  z-index: 5;
  margin: 2rem;
}

.contact__no {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: 1.5rem;
  z-index: 11;
  top: 0.3rem;
}

.contact__fb {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: 1.5rem;
  z-index: 11;
  top: 1.3rem;
}

.table__about {
  position: absolute;
  left: 1rem;
  top: 104.6rem;
}

.table__quickLink {
  position: absolute;
  left: 0.2rem;
  top: 109.6rem;
}

.table__contact {
  position: absolute;
  left: -0.4rem;
  top: 114.6rem;
}

.table__detailAbout {
  position: absolute;
  left: 4.5rem;
  top: 104rem;
  z-index: 8;
}

.table__detailQuickLink {
  position: absolute;
  left: 4.5rem;
  top: 108.6rem;
}

.table__detailContact {
  position: absolute;
  left: 4.3rem;
  top: 113.9rem;
  z-index: 20;
  padding-bottom: 4rem;
}

@media (min-width: 475px) {
  .contact {
    font: var(--size-xs) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 0.9rem;
    height: 0.9rem;
    left: 1.5rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 0.9rem;
    height: 0.9rem;
    left: 1.5rem;
    top: 1.3rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 4.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 4.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 4.3rem;
    top: 113.9rem;
  }
}

@media (min-width: 768px) {
  .contact {
    top: 22rem;
    font: var(--size-xs) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 0.9rem;
    height: 0.9rem;
    left: 1.5rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 0.9rem;
    height: 0.9rem;
    left: 1.5rem;
    top: 1.3rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 4.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 4.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 4.3rem;
    top: 113.9rem;
  }
}

@media (min-width: 1024px) {
  .contact {
    top: -14rem;
    font: var(--size-xl) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 1.9rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 7.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 7.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 7.3rem;
    top: 113.9rem;
  }
}

@media (min-width: 1440px) {
  .contact {
    top: -14rem;
    font: var(--size-xl) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 1.9rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 7.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 7.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 7.3rem;
    top: 113.9rem;
  }
}

@media (min-width: 1920px) {
  .contact {
    top: 16rem;
    font: var(--size-xl) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 1.9rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 7.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 7.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 7.3rem;
    top: 113.9rem;
  }
}

@media (min-width: 2560px) {
  .contact {
    top: 30rem;
    font: var(--size-xl) sans-serif;
    margin: 2rem;
  }
  
  .contact__no {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 0.3rem;
  }
  
  .contact__fb {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 1.9rem;
  }
  
  .table__about {
    position: absolute;
    left: 1rem;
    top: 104.6rem;
  }
  
  .table__quickLink {
    left: 0.2rem;
    top: 109.6rem;
  }
  
  .table__contact {
    left: -0.4rem;
    top: 114.6rem;
  }
  
  .table__detailAbout {
    left: 7.5rem;
    top: 104rem;
  }
  
  .table__detailQuickLink {
    left: 7.5rem;
    top: 108.6rem;
  }
  
  .table__detailContact {
    left: 7.3rem;
    top: 113.9rem;
  }
}
