.containerMain {
  position: absolute;
  top: 0px;
}
.container__img {
  position: absolute;
  top: 1080px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img2 {
  position: absolute;
  top: 1185px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img3 {
  position: absolute;
  top: 1290px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img4 {
  position: absolute;
  top: 1395px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img5 {
  position: absolute;
  top: 1500px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.containerVS {
  position: absolute;
  display: inline-flexbox;
  display: flexbox;
  top: 12.2rem;
  left: 1.5rem;
  z-index: -1;
  width: 20rem;
  height: auto;
}

.preview1 {
  position: absolute;
  top: 6rem;
  clip: rect(115px, 450px, 290px, 90px);
}

.preview__img{
  width: 30rem;
  margin: 2rem;
  filter: brightness(0.5);
}

.preview2 {
  position: absolute;
  top: 20rem;
  clip: rect(115px, 450px, 280px, 90px);
}

.preview1__btn {
  position: absolute;
  top: 17rem;
  left: 9rem;
}

.preview2__btn {
  position: absolute;
  top: 31rem;
  left: 9rem;
}

@media (min-width: 320px) {
  .containerMain {
    top: -190px;
    left: -5rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 12.2rem;
    left: 1.5rem;
    width: 18rem;
    height: auto;
  }
  .preview1 {
    top: 6rem;
    left: -6rem;
    clip: rect(115px, 400px, 255px, 120px);
  }
  
  .preview__img{
    width: 32rem;
    margin: 3rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 20rem;
    left: -6rem;
    clip: rect(115px, 400px, 255px, 120px);
  }
  
  .preview1__btn {
    top: 16rem;
    left: 2.5rem;
  }
  
  .preview2__btn {
    top: 30rem;
    left: 1.6rem;
  }
}  

@media (min-width: 375px) {
  .containerMain {
    top: -250px;
    left: -5rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 10.2rem;
    left: 2rem;
    width: 17.5rem;
    height: auto;
  }

  .preview1 {
    top: 6rem;
    left: -5rem;
    clip: rect(120px, 420px, 260px, 120px);
  }
  
  .preview__img{
    width: 33rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 20rem;
    left: -5rem;
    clip: rect(120px, 420px, 260px, 120px);
  }
  
  .preview1__btn {
    top: 16rem;
    left: 3.5rem;
  }
  
  .preview2__btn {
    top: 30rem;
    left: 3rem;
  }
}  

@media (min-width: 425px) {
  .containerMain {
    top: -100px;
    left: -2rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 12.2rem;
    left: 2.5rem;
    width: 21rem;
    height: auto;
  }

  .preview1 {
    top: 6rem;
    left: -4rem;
    clip: rect(125px, 400px, 255px, 120px);
  }
  
  .preview__img{
    width: 34rem;
    margin: 3rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 18rem;
    left: -4rem;
    clip: rect(125px, 400px, 255px, 120px);
  }
  
  .preview1__btn {
    top: 16rem;
    left: 4.5rem;
  }
  
  .preview2__btn {
    top: 28rem;
    left: 3.6rem;
  }
}

@media (min-width: 475px) {
  .containerMain {
    top: 0px;
    left: 1rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 12.2rem;
    left: 3.5rem;
    width: 23rem;
    height: auto;
  }
}

@media (min-width: 768px) {
  .containerMain {
    top: 550px;
    left: 5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1300px;
    left: 40px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1300px;
    left: 255px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 4.5rem;
    width: 35rem;
    height: auto;
  }

  .preview1 {
    top: 5.5rem;
    left: -2rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview__img{
    width: 40rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 25rem;
    left: -2rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview1__btn {
    top: 21rem;
    left: 7.5rem;
  }
  
  .preview2__btn {
    top: 40rem;
    left: 6rem;
  }
}

@media (min-width: 1024px) {
  .containerMain {
    top: -50px;
    left: 12rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1300px;
    left: 40px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1300px;
    left: 255px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 1.5rem;
    width: 25rem;
    height: auto;
    display: flex;
    margin: 1rem;
  }

  .preview1 {
    top: 5.5rem;
    left: 2rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview__img{
    width: 40rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 25rem;
    left: 2rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview1__btn {
    top: 21rem;
    left: 11.5rem;
  }
  
  .preview2__btn {
    top: 40rem;
    left: 10rem;
  }
}

@media (min-width: 1440px) {
  .containerMain {
    top: -50px;
    left: 8.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 570px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 785px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 8.5rem;
    width: 30rem;
    height: auto;
    display: flex;
  }

  .preview1 {
    top: 8.5rem;
    left: 2rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview__img{
    width: 40rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 8.5rem;
    left: 38rem;
    clip: rect(155px, 610px, 390px, 120px);
  }
  
  .preview1__btn {
    top: 23rem;
    left: 11.5rem;
  }
  
  .preview2__btn {
    top: 23rem;
    left: 46.5rem;
  }
}

@media (min-width: 1920px) {
  .containerMain {
    top: 550px;
    left: 10.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 230px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 525px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 825px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 1125px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 19.2rem;
    left: 4.5rem;
    width: 48rem;
    height: auto;
    display: flex;
  }

  .preview1 {
    top: 10.5rem;
    left: -4rem;
    clip: rect(210px, 890px, 550px, 150px);
  }
  
  .preview__img{
    width: 60rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 10.5rem;
    left: 45rem;
    clip: rect(210px, 890px, 550px, 150px);
  }
  
  .preview1__btn {
    top: 32rem;
    left: 9.5rem;
  }
  
  .preview2__btn {
    top: 32rem;
    left: 55rem;
  }
}

@media (min-width: 2560px) {
  .containerMain {
    top: 750px;
    left: 18.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 230px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 525px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 825px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 1125px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }

  .containerVS {
    top: 19.2rem;
    left: 6.5rem;
    width: 55rem;
    height: auto;
    display: flex;
  }

  .preview1 {
    top: 10.5rem;
    left: -4rem;
    clip: rect(250px, 1050px, 680px, 190px);
  }
  
  .preview__img{
    width: 75rem;
    filter: brightness(0.5);
  }
  
  .preview2 {
    top: 10.5rem;
    left: 65rem;
    clip: rect(250px, 1050px, 680px, 190px);
  }
  
  .preview1__btn {
    top: 37rem;
    left: 13.5rem;
  }
  
  .preview2__btn {
    top: 37rem;
    left: 82rem;
  }
}