.containerMain {
  position: absolute;
  top: 0px;
}
.container__img {
  position: absolute;
  top: 1080px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img2 {
  position: absolute;
  top: 1185px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img3 {
  position: absolute;
  top: 1290px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img4 {
  position: absolute;
  top: 1395px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.container__img5 {
  position: absolute;
  top: 1500px;
  left: 125px;
  height: 50px;
  width: 150px;
}

.containerVS {
  position: absolute;
  display: inline-flexbox;
  display: flexbox;
  top: 12.2rem;
  left: 1.5rem;
  z-index: -1;
  width: 20rem;
  height: auto;
}

.preview1 {
  position: absolute;
  top: 6rem;
  clip: rect(115px, 450px, 290px, 90px);
}

.preview__img{
  width: 30rem;
  margin: 2rem;
  filter: brightness(0.5);
}

.preview2 {
  position: absolute;
  top: 20rem;
  clip: rect(115px, 450px, 280px, 90px);
}

.preview1__btn {
  position: absolute;
  top: 17rem;
  left: 9rem;
}

.preview2__btn {
  position: absolute;
  top: 31rem;
  left: 9rem;
}

@media (min-width: 425px) {
  .containerMain {
    top: -100px;
    left: -2rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 12.2rem;
    left: 2.5rem;
    width: 21rem;
    height: auto;
  }
}

@media (min-width: 475px) {
  .containerMain {
    top: 0px;
    left: 1rem;
  }
  .container__img {
    top: 1150px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img2 {
    top: 1255px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img3 {
    top: 1360px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img4 {
    top: 1465px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .container__img5 {
    top: 1570px;
    left: 165px;
    height: 50px;
    width: 150px;
  }
  
  .containerVS {
    top: 12.2rem;
    left: 3.5rem;
    width: 23rem;
    height: auto;
  }
}

@media (min-width: 768px) {
  .containerMain {
    top: 550px;
    left: 5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1300px;
    left: 40px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1300px;
    left: 255px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 4.5rem;
    width: 35rem;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .containerMain {
    top: -50px;
    left: 12rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1300px;
    left: 40px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1300px;
    left: 255px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 1.5rem;
    width: 25rem;
    height: auto;
    display: flex;
    margin: 1rem;
  }
}

@media (min-width: 1440px) {
  .containerMain {
    top: -50px;
    left: 8.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 143px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 355px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 570px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 785px;
    height: 90px;
    width: 200px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 15.2rem;
    left: 8.5rem;
    width: 30rem;
    height: auto;
    display: flex;
  }
}

@media (min-width: 1920px) {
  .containerMain {
    top: 550px;
    left: 10.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 230px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 525px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 825px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 1125px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .containerVS {
    top: 19.2rem;
    left: 4.5rem;
    width: 48rem;
    height: auto;
    display: flex;
  }
}

@media (min-width: 2560px) {
  .containerMain {
    top: 750px;
    left: 18.5rem;
  }
  .container__img {
    top: 1150px;
    left: -70px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img2 {
    top: 1150px;
    left: 230px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img3 {
    top: 1150px;
    left: 525px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img4 {
    top: 1150px;
    left: 825px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }
  
  .container__img5 {
    top: 1150px;
    left: 1125px;
    height: 100px;
    width: 300px;
    margin: 1rem;
  }

  .containerVS {
    top: 19.2rem;
    left: 6.5rem;
    width: 55rem;
    height: auto;
    display: flex;
  }
}