.contact {
  position: absolute;
  white-space: nowrap;
  font: var(--size-xs) sans-serif;
  z-index: 5;
  font-weight: 100;
  top: 93rem;
  width:auto;
}

.contact__no {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: 8.5rem;
  top: 10.3rem;  
  z-index: 11;
}

.contact__fb {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: 8.5rem;
  top: 11.3rem; 
  z-index: 11;
}

@media (min-width: 375px) {
  .contact {
    font: var(--size-xs) sans-serif;
    top: 93rem;
    width: 19rem;
  }
  
  .contact__no {
    width: 0.9rem;
    height: 0.9rem;
    left: 9.5rem;
    top: 10.4rem;  
  }
  
  .contact__fb {
    width: 0.9rem;
    height: 0.9rem;
    left: 9.5rem;
    top: 11.5rem; 
  }
}

@media (min-width: 425px) {
  .contact {
    font: var(--size-sm) sans-serif;
    top: 97rem;
    width: 21.4rem;
  }
  
  .contact__no {
    width: 1rem;
    height: 1rem;
    left: 10rem;
    top: 10.9rem;  
  }
  
  .contact__fb {
    width: 1rem;
    height: 1rem;
    left: 10rem;
    top: 12.2rem; 
  }
}

@media (min-width: 768px) {
  .contact {
    font: var(--size-xl) sans-serif;
    top: 127rem;
    width: 38.6rem;
  }
  
  .contact__no {
    width: 1.5rem;
    height: 1.5rem;
    left: 16rem;
    top: 12.8rem;  
  }
  
  .contact__fb {
    width: 1.5rem;
    height: 1.5rem;
    left: 16rem;
    top: 14.6rem; 
  }
}

@media (min-width: 1024px) {
  .contact {
    font: var(--size-2xl) sans-serif;
    top: 90rem;
    width: 51.45rem;
  }
  
  .contact__no {
    width: 1.7rem;
    height: 1.7rem;
    left: 22rem;
    top: 13.8rem;   
  }
  
  .contact__fb {
    width: 1.7rem;
    height: 1.7rem;
    left: 22rem;
    top: 15.8rem; 
  }
}

@media (min-width: 1440px) {
  .contact {
    font: var(--size-3xl) sans-serif;
    top: 80rem;
    width: 72.5rem;
  }
  
  .contact__no {
    width: 2rem;
    height: 2rem;
    left: 29rem;
    top: 16.8rem;   
  }
  
  .contact__fb {
    width: 2rem;
    height: 2rem;
    left: 29rem;
    top: 19rem; 
  }
}

@media (min-width: 1920px) {
  .contact {
    font: var(--size-4xl) sans-serif;
    top: 120.9rem;
    width: 97rem;
  }
  
  .contact__no {
    width: 2.5rem;
    height: 2.5rem;
    left: 37rem;
    top: 20rem;   
  }
  
  .contact__fb {
    width: 2.5rem;
    height: 2.5rem;
    left: 37rem;
    top: 22.9rem; 
  }
}

@media (min-width: 2560px) {
  .contact {
    font: var(--size-4xl) sans-serif;
    top: 130rem;
    width: 134.9rem;
  }
  
  .contact__no {
    width: 2.5rem;
    height: 2.5rem;
    left: 51rem;
    top: 20rem;   
  }
  
  .contact__fb {
    width: 2.5rem;
    height: 2.5rem;
    left: 51rem;
    top: 22.9rem; 
  }
}