#headers{
  position: absolute;
}

.header { 
  flex-direction: column;
  margin: 0;
  top: 0;
}

h2 {
  position: absolute;
  white-space: nowrap;
  top: 145px;
  left: 55px;
  text-align: center;
}

.header__styles2 {
  font: 48px sans-serif;
  position: absolute;
  margin: none;
  color: darkblue;
  font-size: var(--size-base);
  z-index: -1;
}

.header__img {
  position: absolute;
  width: 13rem;
  height: 2.5rem;
  left: 3.5rem;
  z-index: 1;
  top: 3rem;
}

body {
  background:#fff6f6;
}

@media (min-width: 475px) {  
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 18rem;
    height: 3.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 768px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-3xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-4xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 1440px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-6xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width:1920px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-8xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 2560px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-9xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}