#headers{
  position: absolute;
}

h2 {
  position: absolute;
  white-space: nowrap;
}

h3 {
  position: relative;
  white-space: nowrap;
  top: 2rem;
}

h4 {
  position: relative;
  color: darkblue;
  margin: 2rem;
  left: -34px;
}

.header__styles2 {
  align-content: center;
  position: absolute;
  top: 7rem;  
  left: 50%;
  color: darkblue;
  z-index: 1;
  font-size: var(--size-base);
  padding: 20px;

}

.header__img {
  position: absolute;
  width: 13rem;
  height: 2.5rem;
  left: 3.5rem;
  z-index: 1;
  top: 3rem;
}

body {
  background:#fff6f6;
}

@media (min-width: 320px) {  
  .header__img {
    width: 13rem;
    height: 2.5rem;
    left: 3.5rem;
    top: 3rem;
  }

  .header__styles2 {
    left: 1.5rem;
    top: 6rem;   
  }
}

@media (min-width: 425px) {  
  .header__img {
    width: 18rem;
    height: 3.5rem;
    left: 3.5rem;
    top: 3rem;
  }

  .header__styles2 {
    left: 2.5rem;
    top: 7.5rem;   
  }
}

@media (min-width: 475px) {  
  .header__img {
    width: 18rem;
    height: 3.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 768px) {  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-3xl);
    left: 3.5rem;
    top: 8.5rem; 
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-4xl);
    padding: 1rem;
    padding-right: 2rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 1440px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-6xl);
    left: 7.5rem;
    top: 9.5rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width:1920px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-8xl);
    left: 7.5rem;
    top: 9.5rem;
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}

@media (min-width: 2560px) {
  h2 {
    top: 145px;
    left: 55px;
  }
  
  .header__styles2 {
    font: 48px sans-serif;
    font-size: var(--size-9xl);
    left: 7.5rem;
    top: 9.5rem; 
  }
  
  .header__img {
    width: 20rem;
    height: 4.5rem;
    left: 3.5rem;
    top: 3rem;
  }
}