.modalBox {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 45rem;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: black;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

/*When the href are clicked*/
.modalBox:target {
  opacity: 1;
  pointer-events: auto;
}

/*Positioning of the child box*/
.modalBox > div {
  width: 100%;
  width: 310px;
  position: absolute;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  background: white;
  top: 100px;
  left: 30px;
  z-index: 99;
}

/*Positioning and style of the close button*/
.close {
  background: white;
  color: black;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: none;
  border: none;
}

/*Style when mouse hovers on the close button*/
.close:hover {
  background: black;
  color: white;
}

/*Default style of the open pop-up button*/
.popup-link {
  background-color: none;
  border: none;
  color:white;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

@media (min-width: 375px){
  .modalBox {
    top: 40rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: 13px;
  }
}

@media (min-width: 425px) {
  .modalBox {
    top: 38rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-sm);
  }
}

@media (min-width: 768px){
  .modalBox {
    top: 0.01rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-2xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-xl);
  }
}

@media (min-width: 1024px) {
  .modalBox {
    top: 0.01rem;
    left: 2rem;
    width: 60rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-3xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-2xl);
  }
}

@media (min-width: 1440px) {
  .modalBox {
    top: 0.01rem;
    left: 7rem;
    width: 50rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-3xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-3xl);
  }
}

@media (min-width: 1920px) {
  .modalBox {
    top: 0.01rem;
    left: 7rem;
    width: 50rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-3xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-4xl);
  }
}

@media (min-width: 2560px) {
  .modalBox {
    top: 0.01rem;
    left: 51rem;
    width: 51.5rem;
  }
  
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    top: 100px;
    left: 30px;
  }
  
  /*Positioning and style of the close button*/
  .close {
    line-height: 25px;
    right: 1px;
    top: 1px;
    width: 35px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: var(--size-3xl);
  }
  
  /*Default style of the open pop-up button*/
  .popup-link {
    font-size: var(--size-4xl);
  }
}