.modalBox {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: black;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

/*When the href are clicked*/
.modalBox:target {
  opacity: 1;
  pointer-events: auto;
}

/*Positioning of the child box*/
.modalBox > div {
  width: 100%;
  width: 310px;
  position: absolute;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  background: white;
  top: 100px;
  left: 30px;
  z-index: 99;
}

/*Positioning and style of the close button*/
.close {
  background: white;
  color: black;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: none;
  border: none;
}

/*Style when mouse hovers on the close button*/
.close:hover {
  background: black;
  color: white;
}

/*Default style of the open pop-up button*/
.popup-link {
  background-color: none;
  border: none;
  color:var(--clr-purple);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

@media (min-width: 475px) {
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 310px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    top: 100px;
    left: 30px;
    z-index: 99;
  }
}

@media (min-width: 768px) {
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 590px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    top: 100px;
    left: 50px;
    z-index: 99;
  }
}

@media (min-width: 1024px) {
  /*Positioning of the child box*/
  .modalBox > div {
    width: 100%;
    width: 750px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    top: -70px;
    left: 50px;
    z-index: 99;
  }
}

@media (min-width: 1440px) {
    /*Positioning of the child box*/
    .modalBox > div {
      width: 100%;
      width: 750px;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      border-radius: 0px;
      top: -100px;
      left: 250px;
      z-index: 99;
    }
}

@media (min-width: 1920px) {
     /*Positioning of the child box*/
     .modalBox > div {
      width: 100%;
      width: 750px;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      border-radius: 0px;
      top: -170px;
      left: 650px;
      z-index: 99;
    }
}

@media (min-width: 2560px) {
     /*Positioning of the child box*/
     .modalBox > div {
      width: 100%;
      width: 750px;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      border-radius: 0px;
      top: -220px;
      left: 750px;
      z-index: 99;
    }
}