.sectionIDart__img1 {
  position: absolute;
  top: 800px;
  left: -5px;
  z-index: -2;
  width: 330px;
  height: auto;
  padding-right: 16px;
  margin: 2rem;
}

.sectionPPW__imgDW {
  position: relative;
  height: 25px;
  width: 25px;
}

.PPW {
  position: absolute;
  font-size: 7px ;
  top: 175px;
  left: 10px;
  z-index: -5; 
  outline: 5px solid rgb(250, 0, 250);
}

.PPW th {
  border: 1px solid black;
  padding: 5px;
}

.PPW td {
  border: 1px solid black;
  padding: 5px;
}

.PPW img{
  display: inline;
  margin: 0.1rem;
}

.surat__KEM {
  position: absolute;
  top: 240px;
  left: 580px;
}

.section__canvas {
  position: relative;
  top: 10rem;
}

.jadual_Tarikh {
  position: absolute;
  top: 240px;
  left: 10px;
  width: 340px;
  height: 640px;
}

@media (min-width: 320px) {
  .sectionIDart__img1 {
    top: 715px;
    left: -7px;
    width: 300px;
  }
  .sectionPPW__imgDW {
    height: 15px;
    width: 15px;
  }
  .PPW {
    position: absolute;
    font-size: 10px ;
    top: 175px;
    left: 10px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 375px) {
  .sectionIDart__img1 {
    top: 670px;
    left: 10px;
    width: 280px;
  }
  .sectionPPW__imgDW {
    height: 15px;
    width: 15px;
  }
  .PPW {
    position: absolute;
    font-size: 10px ;
    top: 175px;
    left: 1px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 425px) {
  .sectionIDart__img1 {
    top: 785px;
    left: 5px;
    width: 350px;
  }

  .sectionPPW__imgDW {
    height: 30px;
    width: 30px;
  }
  .PPW {
    position: absolute;
    font-size: 15px ;
    top: 175px;
    left: 1px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 475px) {
  .sectionIDart__img1 {
    top: 865px;
    left: 15px;
    width: 405px;
  }
  .sectionPPW__imgDW {
    height: 30px;
    width: 30px;
  }
  
  .PPW {
    position: absolute;
    font-size: 15px ;
    top: 175px;
    left: 1px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 768px) {
  .sectionIDart__img1 {
    top: 1290px;
    left: 15px;
    width: 615px;
  }
  .sectionPPW__imgDW {
    height: 30px;
    width: 30px;
  }
  
  .PPW {
    position: absolute;
    font-size: 11px ;
    top: 275px;
    left: 5px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 1024px) {
  .sectionIDart__img1 {
    top: 660px;
    left: 65px;
    width: 715px;
  }
  .sectionPPW__imgDW {
    height: 30px;
    width: 30px;
  }
  
  .PPW {
    position: absolute;
    font-size: 20px ;
    top: 275px;
    left: 80px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 1440px) {
  .sectionIDart__img1 {
    top: 690px;
    left: 305px;
    width: 675px;
  }
  .sectionPPW__imgDW {
    height: 60px;
    width: 60px;
  }
  .PPW {
    position: absolute;
    font-size: 25px ;
    top: 275px;
    left: 250px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 1920px) {
  .sectionIDart__img1 {
    top: 1050px;
    left: 385px;
    width: 1075px;
  }
  .sectionPPW__imgDW {
    height: 70px;
    width: 70px;
  }
  
  .PPW {
    position: absolute;
    font-size: 35px ;
    top: 325px;
    left: 250px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}

@media (min-width: 2560px) {
  .sectionIDart__img1 {
    top: 1150px;
    left: 385px;
    width: 1175px;
  }
  .sectionPPW__imgDW {
    height: 90px;
    width: 90px;
  }
  
  .PPW {
    position: absolute;
    font-size: 45px ;
    top: 425px;
    left: 250px;
    z-index: -5; 
    outline: 5px solid rgb(250, 0, 250);
  }
  
  .PPW img{
    display: inline;
    margin: 0.15rem;
  }
}