:root {
  --clr-dark: ;
  --clr-light: ;
  --clr-gold: #F8DB52;
  --clr-purple: #63156A;

/*size*/
--size-xxs: 0.5rem;
--size-xs: 0.75rem;
--size-sm: 0.875rem;
--size-base: 1rem;
--size-lg: 1.125rem;
--size-xl: 1.25rem;
--size-2xl: 1.5rem;
--size-3xl: 2.01rem;
--size-4xl: 2.6rem;
--size-5xl: 3rem;
--size-6xl: 4rem;
--size-7xl: 4.5rem;
--size-8xl: 5.5rem;
--size-9xl: 7rem;
--size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}


html {
  scroll-behavior: smooth;
}

h1{
  font-size: 3rem;
}

body {
  font-family: 'General Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}